/**
 * FormFieldDescription Component Styles for React
 * Re-exports the base FormFieldDescription styles from components-html
 */

@import '../../../components-html/src/form-field-description/form-field-description.css';
