/**
 * Ordered List Component
 * Uses component tokens for consistent styling.
 */

.dsn-ordered-list {
  font-family: var(--dsn-ordered-list-font-family);
  font-weight: var(--dsn-ordered-list-font-weight);
  color: var(--dsn-ordered-list-color);
  font-size: var(--dsn-ordered-list-font-size);
  line-height: var(--dsn-ordered-list-line-height);
  padding-inline-start: var(--dsn-ordered-list-padding-inline-start);
  margin-block-start: 0;
  margin-block-end: var(--dsn-ordered-list-margin-block-end);
  list-style-type: decimal;
}

/* Number markers */
.dsn-ordered-list ::marker {
  color: var(--dsn-ordered-list-marker-color);
}

/* Spacing between list items */
.dsn-ordered-list > li {
  margin-block-end: var(--dsn-ordered-list-gap);
}

.dsn-ordered-list > li:last-child {
  margin-block-end: 0;
}
